.main-app-wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;

    .content-wrapper{
        flex: 1;
        max-width: 1000px;
        margin: auto;
        width: 100%;
    }
}