.button{
    padding: 12px;
    font-size: 14px;
    background-color: #87c73c;
    width: 80%;
    box-sizing: border-box;
    border-radius: 12px;
    border: none;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}