.header{
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
    background-color: #68b25c;

    .logo-app{
        font-size: 20px;
        font-weight: bold;
        color: white;
        margin: 0px;
        cursor: pointer;
        margin-right: 20px;
        text-decoration: none;
    }
    
    .list-dropdown{
        display: flex;
        justify-content: space-between;
        margin: 0px;
        margin-top: -8px;
    }

    p{
        margin-right: 20px;
        color: white;
        font-weight: bold;
    }

    .list-menu{
        display: flex;
        justify-content: space-between;
    }

    .menu-item{
        font-size: 18px;
        color: white;
        // text-decoration: underline;
        cursor: pointer;
        margin: 0px;
    }
}