.blog-post{
    padding: 20px;
    .title{
        font-weight: bold;
        font-size: 20px;
    }
    .button-action{
        width: 200px;
        margin-left: auto;
        margin-right: 0px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
    }
}