.detail-blog-wrapper{
    padding: 20px;
    .img-cover{
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
    .blog-title{
        font-size: 30px;
        font-weight: bold;
        color: #2d2d2d;
        margin-top: 20px;
    }
    .blog-author{
        font-size: 16px;
        color: grey;
        margin: 0px;
    }
    .blog-body{
        font-size: 15px;
        line-height: 30px;
        text-align: justify;
    }
    .button-action{
        width: 190px;
        margin-right: -20px;
        margin-left: auto;
        margin-bottom: 20px;
    }
}