.main-page {
    display: flex;
    height: 100vh;
    box-sizing: border-box;

}

.left-page{
    flex: 1;
    background-color: gray;

    .bg-image{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.right-page{
    width: 460px;
    background-color: white;
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;

    .title{
        font-size: 20px;
        font-weight: bold;

    }
}