.home-page-wrapper{
    padding-top: 40px;
    .create-wrapper{
        width: 200px;
        margin-right: 0;
        margin-left: auto;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    
    .content-wrapper{
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
    }
    .pagination{
        max-width: 400px;
        display: flex;
        margin: auto;
        padding-bottom: 20px;
    }
    
}